
#exportPattern("^[[:alpha:]]+")

export(ZEST)
export(ZEST.start)
export(ZEST.step)
export(ZEST.stop)
export(ZEST.final)

#export(FT)
#export(FT.start)
#export(FT.step)
#export(FT.stop)
#export(FT.final)
##export(FT.final.details)

export(chooseOpi)
export(dbTocd, cdTodb)

export(opiPresent)
export(opiSetBackground)
export(opiQueryDevice)
export(opiInitialize)
export(opiInitialise)
export(opiClose)

S3method(simH.opiPresent, opiStaticStimulus)
S3method(simH.opiPresent, opiKineticStimulus)
S3method(simH.opiPresent, opiTemporalStimulus)

S3method(simG.opiPresent, opiStaticStimulus)
S3method(simG.opiPresent, opiKineticStimulus)
S3method(simG.opiPresent, opiTemporalStimulus)

S3method(octo900.opiPresent, opiStaticStimulus)
S3method(octo900.opiPresent, opiKineticStimulus)
S3method(octo900.opiPresent, opiTemporalStimulus)
export(.Octopus900Env)
